<section class="section_productDetail">
    <div class="productDetail_container">
        <h1>{{product.title}}</h1>
        <span>category: {{product.category}}</span>
        <p>Description: {{product.description}}</p>
        <span>Price: ${{product.price}}</span>
        <button class="addToCartBtn" type="button" id={{product._id}}>Add to Cart</button>
    </div>
</section>